/* .testimonial-carousel{
    &::before{content: "\f10d"; font-weight: 900; font-family: "Font Awesome 5 Free"; font-size: 30px; position: absolute; left: 0; top: -20px; opacity: 0.4;}
    &::after{content: "\f10e"; font-weight: 900; font-family: "Font Awesome 5 Free"; font-size: 30px; position: absolute; right: 0; top: -20px; opacity: 0.4;}
  }
 */
.call-to-action{background-size: cover;}