.recent-projects{
  .swiper-wrapper{max-height: none;}
}

.img-absolute-50{
  max-width: 100%;
  position: static;
  padding: 0 1rem;
  @include transform(translateY(0));
  .left{left: 2rem;}
  .right{right: 2rem;}
}


.industry-wrap{
  grid-template-columns: 33.33%;
  grid-template-rows: 1fr 180px 180px;
  grid-template-areas:
                      "detail detail detail"
                      "ecommerce education manufacturing"
                      "food healthcare solution";
}