.display-3{font-size: 2.7rem;}
.mt-n5, .my-n5 {
    margin-top: -1rem !important;
}

.recent-projects-wrapper{    
    background-size: cover;    
}

.testimonial-slider{
    background-size: cover;
    background-position: right bottom;
    cursor: none;
  }