body{font-size: 0.9rem;}
h1, .h1{font-size: 1.6rem;}
h3, .h3 {font-size: 1.2rem;}
h4, .h4{font-size: 1.3rem;}
.display-3{font-size: 2rem;}
.min-vh-100{min-height: auto !important; padding: 1rem 0;}

.industry-wrap{
    grid-template-columns: 50%;
    grid-template-rows: 1fr 130px 130px 130px;
    grid-template-areas:
                        "detail detail"
                        "ecommerce education"
                        "manufacturing food"
                        "healthcare solution";
  }

  @keyframes floating {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
    }
}