.avatar{
    &-sm{
        height: 2.5rem;
        width: 2.5rem;
    }
    &-md{
        height: 4rem;
        width: 4rem;
    }
    &-lg{
        height: 6rem;
        width: 6rem;
    }
    &-testimonial{
        max-height: 300px;
        overflow: hidden;
    }
}

