$primary-color:#000;
$secondary-color:#fff;
$accent-color: #F60334;
$white-color:#fff;
$black-color:#000;


//SOCIAL MEDIA COLOER CODE
$social-color:(
  facebook:#3b5998,
  linkedin:#007bb5,
  skype:#00aff0,
  instagram:#DD2A7B,
  youtube:#ff0000,
  twitter:#1da1f2,
  behance:#053eff,
  pinterest:#E60023
);