
p{margin-bottom: 0.6rem;}
html, body{scroll-behavior: smooth;}

::-webkit-input-placeholder { color: $black-color; }
:-ms-input-placeholder { color: $black-color; }
::placeholder { color: $black-color; }

::-moz-selection { color: $secondary-color; background: $primary-color; }
::selection { color: $secondary-color; background: $primary-color; }

.cursor { background-color: $secondary-color; border-radius: 50%; display: block; position: fixed; margin-top: -5px; margin-left: -5px; width: 10px; height: 10px; pointer-events: none; mix-blend-mode: exclusion; transform: scale(1); transition: transform 0.4s cubic-bezier(0.75, -0.27, 0.3, 1.33)  ; z-index: 1011;opacity: 0.8;
    &--zoom{@include transform(scale(6));}
}
#loader{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color: $black-color, $alpha: 0.9);
    z-index: 999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;

    .loading{
        border: 10px solid $secondary-color; 
        border-radius: 50%; 
        border-top: 10px solid transparent;
        width: 60px; 
        height: 60px; 
        animation: spin 1s linear infinite; 
        background:transparent;
    }
}

@for $i from 1 through 10 {
    .letter-space-#{$i} {
        letter-spacing: #{$i}+px;
    }
}

.alert{
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: inline-block;
    z-index: 99999;
    max-width: 65%;
}

.bg-size-cover{background-size: cover;}
.bg-size-contain{background-size: contain;}
.bg-size-100{background-size: 100%;}
.bg-light{background-color: lighten($color: $primary-color, $amount: 97);}

.bg-primary{background-color: $primary-color;}
.bg-secondary{background-color: $secondary-color;}
.bg-accent{background-color: $accent-color;}

.border-top-primary{border-top:1px solid rgba($color: $primary-color, $alpha: 0.9);}
.gradient-primary{background:linear-gradient( 90deg, $primary-color 0, $secondary-color 100%);}


.min-height-500{min-height: 500px;}

.border-gradient{width: 100%;height: 2px;background: linear-gradient( 90deg, $primary-color 0, $secondary-color 100%);}

.square{position: relative;overflow: hidden;
    &:before{content:'';padding-top: 100%;display: block;}
    img{position: absolute; max-width: 100%; top: 0; right: 0; bottom: 0; left: 0; height: 100%; object-fit: cover;}
}

.form-group-material{position: relative;
    .form-control{height: 60px;}
    .form-label{position: absolute; top: calc(50% - 12px); margin-bottom: 0; left: 15px; opacity: 0.5;transition: all 0.3s ease;}
    &.on{
        .form-control{padding:20px 15px 5px;}
        .form-label{top: 0; opacity: 1; color: $black-color;font-weight: 600;}
    }
}
.img-absolute-50{
    width: auto;
    max-width: 50%;
    display: block;
    position: absolute;
    &.left{left: 0;}
    &.right{right: 0;}
}

.img-absolute-25{
    width: auto;
    max-width: 100%;
    display: block;
    position: absolute;
    &.left{left: 0;}
    &.right{right: 0;}
}

.img-hover{
    &-style-1{
        img{-webkit-filter: grayscale(100%);filter: grayscale(100%);-webkit-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;}
        &:hover{
            img{-webkit-filter: grayscale(0);filter: grayscale(0);}
        }
    }
}

.form-control:focus{
    border-color: $primary-color;
    box-shadow: none;
}