/* .title-animation {
  opacity : 0;
  span { position: relative; top: 10px; left: 10px; opacity: 0; }
} */
input[type="number"],
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}
.hero{
  .min-vh-100{
    min-height: calc(100vh - 75px) !important;
  }
}
.line-height-lg{
  li{
    line-height: 2;
    display: -webkit-box;display: -ms-flexbox;display: flex;
    align-items: baseline;
  }
}
.back-to-top {
  display: inline-block;
  background-color: $primary-color;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 125px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  @media (max-width:560px){
    width: 40px;
    height: 40px;
    bottom: 100px;
    right: 20px;
  }
	&::after {
    content: "\f077";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 50px;
    color: $secondary-color;
    @media (max-width:560px) {
      font-size: 1rem;
      line-height: 40px;
    }
  }
	&:hover, &:active {
    cursor: pointer;
    background-color: $accent-color;
  }
  &.show{
    opacity: 1;
    visibility: visible;
  }
}
.recent-projects-wrapper{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
}

.testimonial-slider{
  background-repeat: no-repeat;
  background-size: 80% 100%;
  background-position: right top;
}

.project-process-wrap{
  counter-reset: project-process-counter;
  .row{
      &:nth-child(odd){
          .pp-item{padding-left: 40px;
              &:before{left:-4px;}
              &::after{left: -14px;}
              @media (max-width:991px) { padding-left: 25px; }
          }
      }
      &:nth-child(even){
          .pp-item{padding-right: 40px;
              &:before{right:-4px;
                  @media (max-width:767px) { right:auto; left: -4px; }
              }
              &::after{right: -14px;
                  @media (max-width:767px) { right:auto; left: -14px; }
              }
              @media (max-width:991px) { padding-right: 25px; }
              @media (max-width:767px) { padding-left: 25px; padding-right: 0; }
          }
      }
  }
  .pp-item{position: relative;            
      &:before{position: absolute;background-color: lighten($color: $primary-color, $amount: 90%);}
      &:after{position: absolute;background-color: $primary-color;}
      &:before{content: '';top: 14px; -webkit-transform-origin: 50% 0; transform-origin: 50% 0; width: 8px; height: 0;height: calc(100% - 14px); transition: all 0.5s ease 0.5s; transform: scaleY(0);}
      &.aos-animate {
          &:before{transform: scaleY(1);}
      }
      &:after{counter-increment: project-process-counter; content: counter(project-process-counter);border-radius: 50%; top: 0; width: 28px; height: 28px; font-size: 14px; font-weight: 700; line-height: 28px; letter-spacing: -.01em; text-align: center; color: $secondary-color;}
  }
}

.call-to-action{ background-image: url('../img/bg-cta.png'); background-repeat: no-repeat; background-position: center top; background-size: contain; position: relative;}
main{min-height: 100vh;background-color: $secondary-color;position: relative;z-index: 1;}
footer{/* position: sticky;bottom:0;width:100%; */
  .footer-contact-form{
    @media(min-width: 1024px){
      z-index: 1;bottom: -40px;position: absolute;
    }
  }
  .social-icon{display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
    a{background-color: $primary-color;color: $secondary-color;@include transition(all 0.3s linear);
      &.facebook{
        &:hover, &:focus, &:active{background-color: map-get($social-color, facebook);}
      }
      &.linkedin{
        &:hover, &:focus, &:active{background-color: map-get($social-color, linkedin);}
      }
      &.skype{
        &:hover, &:focus, &:active{background-color: map-get($social-color, skype);}
      }
      &.youtube{
        &:hover, &:focus, &:active{background-color: map-get($social-color, youtube);}
      }
      &.twitter{
        &:hover, &:focus, &:active{background-color: map-get($social-color, twitter);}
      }
      &.behance{
        &:hover, &:focus, &:active{background-color: map-get($social-color, behance);}
      }
      &.pinterest{
        &:hover, &:focus, &:active{background-color: map-get($social-color, pinterest);}
      }
      &.instagram{
        &:hover, &:focus, &:active{background-color: map-get($social-color, instagram);}
      }
    }
  }
  .copyright{
    border-image: radial-gradient(transparent, $secondary-color, transparent);
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-image-slice: 1;
  }
  
}

.industry-wrap{
  display: -ms-grid;display: grid;
  grid-template-columns: 35% 1fr 1fr 1fr;
  grid-template-rows: 180px 180px;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  grid-template-areas:
                      "detail ecommerce education manufacturing"
                      "detail food healthcare solution";

  .industry-detail{
    background-color: $primary-color;
    color: $secondary-color;
    grid-area: detail;
    padding: 1.5rem;
    display: grid;
    align-items: center;
  }
  .industry{position: relative;
    &-ecommerce{
      grid-area: ecommerce;
      overflow: hidden;
    }
    &-education{
      grid-area: education;
      overflow: hidden;
    }
    &-manufacturing{
      grid-area: manufacturing;
      overflow: hidden;
    }
    &-food{
      grid-area: food;
      overflow: hidden;
    }
    &-healthcare{
      grid-area: healthcare;
      overflow: hidden;
    }
    &-solution{
      grid-area: solution;
      overflow: hidden;
    }
    img{filter: grayscale(100%);height: 100%; object-fit: cover;width: 100%;@include transition(all 0.3s linear);}
    .box{position: absolute;top: 50%;right: 0;bottom: auto;left: 0;background-color: rgba($color: $primary-color, $alpha: 0.7);text-align: center;color: $secondary-color;padding: 0.5rem 0;transform: translateY(200%);transition:all 0.3s linear 0.4s;opacity: 0;font-weight: 700;}
    &:hover, &:focus, &:active{
      img{filter: grayscale(0);}
      .box{transform: translateY(-50%);opacity: 1;transition-delay: 0s;}
    }
  }
}


.blog-list{
  .blog-image{position: relative;text-align:center;display: inline-block;
    &::after{content: ""; border: 3px solid $primary-color; height: 100%; display: block; bottom: 0; position: absolute; background: transparent; left: 0; z-index: -1; right: 0; transform: translate(-20px, 20px);
      @media screen and (max-width:767px) {
        content: none;
      }
    }
  }
  .row:nth-child(odd){
    .blog-title{position: relative; left: -100px; right: auto; 
      @media screen and (max-width:767px) {
        left:0;
      }
    }
  }
  .row:nth-child(even){
    .blog-title{position: relative; right: -100px; left: auto; 
      @media screen and (max-width:767px) {
        right:0;
      }
    }
  }
}

.title-strike{position: relative;
  &::after{
    content: '';position: absolute;width: 100%;height: 15px;background-color: lighten($color: $primary-color, $amount: 90%);left: 0;bottom: 0;z-index: -1;transform: scaleX(1);
    transform-origin: left;transition: all 0.5s linear .3s;
  }
}

.accordion{
  a{position: relative;
    .accordion-icon{position: absolute;right:0;top:50%;transform: translateY(-50%);
      i{transform: rotate(45deg);transition: all 0.6s ease;}
    }
    &.collapsed{
      i{transform: rotate(0deg);}
    }
  }
}

.mobile-dev-slider-slides{
  .swiper-slide{    
    .slides-item{background-color: $secondary-color; color: $primary-color; transition: all 0.3s linear;position: relative;
      @media screen and (max-width:560px){
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    &.swiper-slide-active{
      .slides-item{
        background-color: $accent-color !important; color: $secondary-color;
        &::after{content: '';width: 1px; height: 100%;background-color: $accent-color;position: absolute;top: 100%;}
      }
    }
  }
}

.app-dev-category{
  .img-absolute-50{max-width: 100%;bottom: 0;right: 5%;}
}

.blog-details{
  p{line-height: 2;margin-bottom: 1.8rem;}
  a:not(.btn){font-weight: 700;text-decoration: underline;}
  ul{
    li{line-height: 2;color: lighten($color: $black-color, $amount: 40%);}
  }
  dl{
    dt, dd{line-height: 2;}
    dd{color: lighten($color: $black-color, $amount: 40%);}
  }
  @media (max-width:991px){
    .border-left{
      border-left: 0px !important;
    }
  }
}

.team-slider{
  img{
    height: 330px;
    max-width: 100%;
    object-fit: contain;
  }
}

.ai-features-wrap{
  @media (max-width:991px){
    padding: 2rem 0;
  }
  .icon{filter: invert(100%);}
  .row:nth-child(odd){
    .icon{margin-left: -3.6rem;}
  }
  .row:nth-child(even){
    .icon{margin-right: -3.6rem;}
  }
  .img-wrap{overflow: hidden;position: relative;
    &::before{content:'';padding-top: 65%;display: block;}
    img{position: absolute;top: 0;left: 0; transition: all 0.4s cubic-bezier(0.55, 0.09, 0.68, 0.53);transform: translate(0, 0);filter: grayscale(100%);height: 100%;width: 100%;object-fit: cover;}
    &:hover{
      img{transform: scale(1.1);filter: grayscale(0);}
    }
  }
}

.bg-video{
  .embed-responsive{
    &.embed-responsive-16by9{
      &::before{
        @media screen and (max-width:560px) {
          padding-top: 100%;
        }
        @media screen and (max-width:375px) {
          padding-top: 70%;
        }
      }
    }
    video{object-fit: cover;}
  }
}

.custom-dev-button{
  .swiper-slide{width: 19.4%;
    @media (max-width:991px){
      width: 33.33%;
    }
    @media (max-width:767px){
      width: 50%;
    }
    @media (max-width:560px){
      .btn{
        font-size: 12px;
        padding: 7px;
      }
    }   
    &.swiper-slide-active{
      .btn{background-color: lighten($color: $primary-color, $amount: 20%);color: $secondary-color !important;border-color: lighten($color: $primary-color, $amount: 20%);
        &:hover{background-color: lighten($color: $primary-color, $amount: 20%) !important;color: $secondary-color !important;border-color: lighten($color: $primary-color, $amount: 20%);}
      }
      &:before{content: '';width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-bottom: 20px solid $secondary-color; position: absolute; top: 115%; left: 50%; transform: translateX(-50%); }
    }
  }
}

.tools-tech{
  p{
    margin-top: auto; 
  }
}

.work-nav{
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: 25%;
    bottom: 25%;
    width: 2px;
    background-color: $primary-color;
    left: 50%;
    transform: translateX(-50%);
  }
  .list{
    position: absolute;
    top: 50%;
    right: auto;
    left: 50%;
    transform: translate(-50%, -50%);

    i{
      background-color: $white-color;
      padding: 0.2rem;
      font-size: 2.7rem;
    }
  }
}

/*************
  CASE STUDY
**************/
.presenta-mobile{
  @media screen and (min-width:767px){  
    margin-top: -40rem;
  }
}