.bg-php {
    width: 100px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -471px -107px;
}
.bg-acrobat {
    width: 100px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -471px -211px;
}
.bg-BR {
    width: 100px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -471px -315px;
}
.bg-flashbuilder {
    width: 100px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -259px -324px;
}
.bg-AE {
    width: 100px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -363px -324px;
}
.bg-ID {
    width: 100px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -2px -428px;
}
.bg-AI {
    width: 100px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -106px -428px;
}
.bg-PS {
    width: 100px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -210px -428px;
}
.bg-XD {
    width: 100px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -314px -428px;
}
.bg-apple {
    width: 84px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -576px -2px;
}
.bg-ic_swift {
    width: 60px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -749px -2px;
}
.bg-Objective___C {
    width: 156px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -2px -116px;
}
.bg-java {
    width: 127px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -2px -324px;
}
.bg-Kotlin {
    width: 157px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -159px -2px;
}
.bg-flutter {
    width: 138px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -150px -220px;
}
.bg-React {
    width: 150px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -162px -116px;
}
.bg-Ionic {
    width: 147px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -320px -2px;
}
.bg-Android {
    width: 69px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -576px -314px;
}
.bg-xcode {
    width: 76px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -576px -210px;
}
.bg-mysql {
    width: 122px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -133px -324px;
}
.bg-postgreesql {
    width: 132px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -292px -220px;
}
.bg-Test_Automation {
    width: 80px; height: 80px;
    background: url('../img/tech-stack/css_sprites.png') -664px -86px;
}
.bg-Containers {
    width: 80px; height: 80px;
    background: url('../img/tech-stack/css_sprites.png') -664px -170px;
}
.bg-DevOps {
    width: 80px; height: 80px;
    background: url('../img/tech-stack/css_sprites.png') -664px -254px;
}
.bg-Databases {
    width: 80px; height: 80px;
    background: url('../img/tech-stack/css_sprites.png') -664px -338px;
}
.bg-Back_end {
    width: 80px; height: 80px;
    background: url('../img/tech-stack/css_sprites.png') -664px -422px;
}
.bg-Front_end {
    width: 80px; height: 80px;
    background: url('../img/tech-stack/css_sprites.png') -664px -506px;
}
.bg-UI {
    width: 80px; height: 80px;
    background: url('../img/tech-stack/css_sprites.png') -2px -636px;
}
.bg-Firebase {
    width: 144px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -2px -220px;
}
.bg-mongodb {
    width: 153px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -2px -2px;
}
.bg-full_stack {
    width: 85px; height: 77px;
    background: url('../img/tech-stack/css_sprites.png') -73px -532px;
}
.bg-Tornado {
    width: 80px; height: 80px;
    background: url('../img/tech-stack/css_sprites.png') -86px -636px;
}
.bg-Web2py {
    width: 80px; height: 80px;
    background: url('../img/tech-stack/css_sprites.png') -170px -636px;
}
.bg-Pyramid {
    width: 81px; height: 80px;
    background: url('../img/tech-stack/css_sprites.png') -664px -2px;
}
.bg-Zope {
    width: 80px; height: 80px;
    background: url('../img/tech-stack/css_sprites.png') -254px -636px;
}
.bg-Flask {
    width: 80px; height: 80px;
    background: url('../img/tech-stack/css_sprites.png') -338px -636px;
}
.bg-Laravel {
    width: 145px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -320px -106px;
}
.bg-python {
    width: 80px; height: 80px;
    background: url('../img/tech-stack/css_sprites.png') -508px -636px;
}
.bg-Django {
    width: 80px; height: 80px;
    background: url('../img/tech-stack/css_sprites.png') -422px -636px;
}
.bg-Yii {
    width: 93px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -418px -428px;
}
.bg-Codeignitor {
    width: 77px; height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -576px -106px;
}
.bg-CSS {
    width: 69px;
    height: 90px;
    background: url('../img/tech-stack/css_sprites.png') -576px -417px;
}
.bg-js {
    width: 69px;
    height: 80px;
    background: url('../img/tech-stack/css_sprites.png') -576px -510px;
}
.bg-Html {
    width: 67px;
    height: 100px;
    background: url('../img/tech-stack/css_sprites.png') -2px -530px;
}