.swiper-container{cursor: none;}

.swiper-pagination-bullets{
    .swiper-pagination-bullet{
        background-color: rgba($color: $secondary-color, $alpha: 0.7);
        &.swiper-pagination-bullet-active{
            background-color: $accent-color;
        }
    }
}

.recent-projects{
    .swiper-wrapper{
        
        @media (max-width:1366px){
            max-height: 520px;
        }
        @media (min-width:1439px){
            max-height: 600px;
        }
        @media (max-width:1601px){
            max-height: 660px;
        }
        @media (min-width:1659px){
            max-height: 690px;
        }
        @media (min-width:1919px){
            max-height: 770px;
        }
    }
}

.testimonial-slider{
    .swiper-button-next, .swiper-button-prev{
        position: absolute;
        width: 3rem;
        height: 2.3rem;
        background-color: $secondary-color;
    }
    .swiper-button-next{
        top: 80%;
        left: 33%;
        &::after{content: '\f061'; font-family: "Font Awesome 5 Free"; font-weight: 900; font-size: 1.2rem; color: $primary-color;position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
    }
    .swiper-button-prev{
        top: 80%;
        left: 28%;
        &::after{content: '\f060'; font-family: "Font Awesome 5 Free"; font-weight: 900; font-size: 1.2rem; color: $primary-color;position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
    }
}