body{
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(1rem, 1vw, 1.05rem);
    color: $black-color;
    background: $white-color;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}

h1, .h1{line-height: normal;font-family: 'Poppins', sans-serif;}
h2, .h2{line-height: normal;font-family: 'Poppins', sans-serif;}
h3, .h3{line-height: normal;font-family: 'Poppins', sans-serif;}
h4, .h4{line-height: normal;font-family: 'Poppins', sans-serif;}
h5, .h5{line-height: normal;font-family: 'Poppins', sans-serif;}
h6, .h6{line-height: normal;font-family: 'Poppins', sans-serif;}
.display-4{font-size: clamp(2rem, 4vw, 3.5rem);} 
.display-3{font-size: 3.8rem;} 

p{color: lighten($color: $black-color, $amount: 40%);}
@for $i from 10 through 42 {
    .font-size-#{$i} {
      font-size: #{$i}+px;
    }
}

.text-primary{color: $primary-color !important;}
.text-secondary{color: $secondary-color !important;}
.text-accent{color: $accent-color !important;}
.text-black{color: $black-color !important;}
.text-white{color: $white-color !important;}


a{color: $black-color;text-decoration: none;
    &:hover{text-decoration: none;color:$primary-color;
        &:not(.btn){text-decoration: none;}
    }
    &.text-primary:hover{color: $primary-color !important;}    
}