.display-3{font-size: 2.7rem;}
.mt-n5, .my-n5 {
    margin-top: -1rem !important;
}

.img-absolute-25{
    position: static;
    margin: 0 auto;
    max-width: 100%;
}

.recent-projects-wrapper{    
    background-size: cover;    
}

.testimonial-slider{
    background-size: cover;
    background-position: right bottom;
    cursor: none;
}

.bg-mobile-none{
    background-image: none !important;
}

.bg-sm-img-auto{
    background-size: auto !important;
}