.animate-rotate {
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: rotation;
            animation-name: rotation;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    &.fast{
        -webkit-animation-duration: 50s;
            animation-duration: 50s;
    }
    &.slow{
        -webkit-animation-duration: 130s;
        animation-duration: 130s;
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}


.animate-wave{
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: wave;
            animation-name: wave;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    &.fast{
        -webkit-animation-duration: 10s;
            animation-duration: 10s;
    }
    &.slow{
        -webkit-animation-duration: 30s;
        animation-duration: 30s;
    }
}
@-webkit-keyframes wave{
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.animate-building{
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: building;
            animation-name: building;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    &.fast{
        -webkit-animation-duration: 10s;
            animation-duration: 10s;
    }
    &.slow{
        -webkit-animation-duration: 60s;
        animation-duration: 60s;
    }
}
@-webkit-keyframes building{
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-20%, 0, 0);
    }
}

.animate-btn{
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: btnDown;
            animation-name: btnDown;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 2s;
        animation-duration: 2s;
}
@-webkit-keyframes btnDown{
    0% {
        transform: translate(0,0px);
        opacity: 0;
      }
      50% {
        transform: translate(0,30px);
        opacity: 1;
      }
      100% {
        transform: translate(0,50px);
        opacity: 0;
      }
}

.animate-updown{
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: btnUpDown;
            animation-name: btnUpDown;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 80s;
        animation-duration: 80s;
}
@-webkit-keyframes btnUpDown{
    from {
        transform: translate(0,0);
      }
   /*  50% {
        transform: translate(0,50%);
      } */
    to {
        transform: translate(0,80%);
      }
}

@keyframes btn-hover {
    0% {transform: translateX(-100%);}
    50% {transform: translateX(0);}
    100% {transform: translateX(100%);}
}

.animate-floating{
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: floating;
            animation-name: floating;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 6s;
        animation-duration: 6s;
}
@keyframes floating {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-60px);
	}
	100% {
		transform: translatey(0px);
    }
}