.border{
    &-left{
        &-dash{
            border-left-width:1px;
            border-left-style: dashed;
            @media screen and (max-width:767px){
                border-left:0;
            }
        }
    }
    &-white{border-color: $white-color;}
    &-black{border-color: $black-color;}
    &-right{
        &-dash{
            border-right-width:1px;
            border-right-style: dashed;
            @media screen and (max-width:767px){
                border-right:0;
            }
        }
    }
}