.btn{font-size: 14px;position: relative;overflow: hidden;
    &::before{content: ""; background-color: rgba($color: $secondary-color, $alpha: 0.2); height: 100%; position: absolute; top: 0; left: 0; width: 0; z-index: 0;}
    &:hover{
        &::before{
            animation: btn-hover 0.8s cubic-bezier(0.72, 0.16, 0.345, 0.875) both;
            width: 100%;
        }
    }
    &.btn-primary {color: $white-color !important;background: $primary-color;@include transition(ease all 0.3s);border-color:$primary-color;
        &:hover, &:focus,&:active{box-shadow: none !important;background: $primary-color !important;}
    }

    &.btn-accent {color: $white-color !important;background: $accent-color;@include transition(ease all 0.3s);border-color:$accent-color;
        &:hover, &:focus,&:active{box-shadow: none !important;background: $accent-color  ;}
    }

    &.btn-secondary {color: $primary-color !important;background: $secondary-color;@include transition(ease all 0.3s);border-color:$secondary-color;
        &:hover, &:focus,&:active{box-shadow: none !important;background: $secondary-color !important;}
    }

    &.btn-light {color: $primary-color !important;@include transition(ease all 0.3s);
        &:hover, &:focus,&:active,&.active{box-shadow: none;background-color: $primary-color !important;color: $secondary-color !important;}
    }
    &.btn-link {color: $primary-color !important;@include transition(ease all 0.3s);
        &:hover, &:focus,&:active,&.active{box-shadow: none;background-color: $primary-color !important;color: $secondary-color !important;}
    }
}

.nav-pills{
    .nav-link{background-color: darken($color: $secondary-color, $amount: 5);
        &.active{background-color: $primary-color;color: $secondary-color;}
    }
}