.row{
    counter-reset: service-counter;
    .card{border: 0; border-radius: 0;
        &-style-1{@include transition(all .3s ease); position: relative; 
            .avatar-md{
                background-color: $primary-color;
            }
            svg.icon{fill: $white-color;}
            &::after{
                counter-increment: service-counter;
                content: counter(service-counter, decimal-leading-zero);
                color: rgba($color: $primary-color, $alpha: 0.05);
                position: absolute;
                left: 0;
                font-size: 3.5rem;
                font-weight: 700;
                bottom: 0;
                line-height: 1;
            }
            &:hover{background-color: $primary-color; color: $secondary-color;@include transform (translateY(-1rem));
                .avatar-md{
                    background-color: $secondary-color;
                }
                p{color: $secondary-color;}
                svg.icon{fill: $primary-color;}
                a{color: $secondary-color !important;}
                &::after{ color: rgba($color: $secondary-color, $alpha: 0.15);}
            }
        }
        &-style-2{@include transition(all .5s linear);
            img{filter: grayscale(100);}
            &:hover, &:focus, &:active{
                img{filter: grayscale(0);}
            }
        }
        &-about{@include transition(all .3s linear);position: relative;
            background-color: $primary-color;
            color: $secondary-color;
            p{color: $secondary-color;}
            &::after{content: '';position:absolute;top: 0;right: 0;bottom: 0;left: 0;border: 1px solid rgba($color: $primary-color, $alpha: 0.6);transform:translate(1rem, 1rem);opacity: 0;visibility: hidden;}@include transition(all .3s linear);
            &:hover{
                background-color: lighten($color: $primary-color, $amount: 90%);
                color: $primary-color;
                p{color: $primary-color;}
                &::after{opacity: 1;visibility: visible;}
            }
        }
    }
}