.hero{
    .banner-ele-3{position: absolute;bottom: 0%;left: 35%;z-index: -1;}
    /* .wave{position: absolute;bottom: 0;width: 200%;background-repeat: repeat no-repeat;background-size:50% 100%;height: 110px;background-position: 0 bottom;transform-origin: center bottom;} */

    .scroll-down{position: absolute;bottom: 10px;left: 50%;display: inline-block;background-color: rgba($secondary-color, 1);padding: 0 1rem;border-radius: 1.5rem;height:70px;overflow: hidden;border:1px solid rgba($primary-color, 0.8);
        i{color: $accent-color;}
    }
}