/* .title-animation {
  opacity : 0;
  span { position: relative; top: 10px; left: 10px; opacity: 0; }
} */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.back-to-top { display: inline-block; background-color: $primary-color; width: 50px; height: 50px; text-align: center; border-radius: 50%; position: fixed; bottom: 30px; right: 30px; transition: background-color .3s, opacity .5s, visibility .5s; opacity: 0; visibility: hidden; z-index: 1000;
	&::after { content: "\f077"; font-family: "Font Awesome 5 Free";font-weight: 900; font-style: normal; font-size: 1.5rem; line-height: 50px; color: #fff; }
	&:hover { cursor: pointer; background-color: $secondary-color; }
	&:active { background-color: $secondary-color; }
  &.show { opacity: 1; visibility: visible; }
}
.recent-projects-wrapper{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
}

.testimonial-slider{
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: right bottom;
}

.project-process-wrap{
  counter-reset: project-process-counter;
  .row{
      &:nth-child(odd){
          .pp-item{padding-left: 40px;
              &:before{left:-4px;}
              &::after{left: -14px;}
              @media (max-width:991px) { padding-left: 25px; }
          }
      }
      &:nth-child(even){
          .pp-item{padding-right: 40px;
              &:before{right:-4px;
                  @media (max-width:767px) { right:auto; left: -4px; }
              }
              &::after{right: -14px;
                  @media (max-width:767px) { right:auto; left: -14px; }
              }
              @media (max-width:991px) { padding-right: 25px; }
              @media (max-width:767px) { padding-left: 25px; padding-right: 0; }
          }
      }
  }
  .pp-item{position: relative;            
      &:before{position: absolute;background-color: lighten($color: $primary-color, $amount: 90%);}
      &:after{position: absolute;background-color: $primary-color;}
      &:before{content: '';top: 14px; -webkit-transform-origin: 50% 0; transform-origin: 50% 0; width: 8px; height: 0;height: calc(100% - 14px); transition: all 0.5s ease 0.5s; transform: scaleY(0);}
      &.aos-animate {
          &:before{transform: scaleY(1);}
      }
      &:after{counter-increment: project-process-counter; content: counter(project-process-counter);border-radius: 50%; top: 0; width: 28px; height: 28px; font-size: 14px; font-weight: 700; line-height: 28px; letter-spacing: -.01em; text-align: center; color: $secondary-color;}
  }
}

.call-to-action{ background-image: url('../img/bg-cta.png'); background-repeat: no-repeat; background-position: center top; background-size: contain; position: relative;}
main{min-height: 100vh;background-color: $secondary-color;position: relative;z-index: 1;}
footer{/* position: sticky;bottom:0;width:100%; */
  .footer-contact-form{
    @media(min-width: 1024px){
      z-index: 1;bottom: -40px;position: absolute;
    }
  }
  .social-icon{
    a{background-color: $primary-color;color: $secondary-color;@include transition(all 0.3s linear);
      &.facebook{
        &:hover, &:focus, &:active{background-color: map-get($social-color, facebook);}
      }
      &.linkedin{
        &:hover, &:focus, &:active{background-color: map-get($social-color, linkedin);}
      }
      &.skype{
        &:hover, &:focus, &:active{background-color: map-get($social-color, skype);}
      }
      &.youtube{
        &:hover, &:focus, &:active{background-color: map-get($social-color, youtube);}
      }
      &.twitter{
        &:hover, &:focus, &:active{background-color: map-get($social-color, twitter);}
      }
      &.behance{
        &:hover, &:focus, &:active{background-color: map-get($social-color, behance);}
      }
    }
  }
  .copyright{
    border-image: radial-gradient(transparent, $secondary-color, transparent);
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-image-slice: 1;
  }
  
}

.industry-wrap{
  display: -ms-grid;display: grid;
  grid-template-columns: 35% 1fr 1fr 1fr;
  grid-template-rows: 180px 180px;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  grid-template-areas:
                      "detail ecommerce education manufacturing"
                      "detail food healthcare solution";

  .industry-detail{
    background-color: $primary-color;
    color: $secondary-color;
    grid-area: detail;
    padding: 1.5rem;
    display: grid;
    align-items: center;
  }
  .industry{position: relative;
    &-ecommerce{
      grid-area: ecommerce;
      overflow: hidden;
    }
    &-education{
      grid-area: education;
      overflow: hidden;
    }
    &-manufacturing{
      grid-area: manufacturing;
      overflow: hidden;
    }
    &-food{
      grid-area: food;
      overflow: hidden;
    }
    &-healthcare{
      grid-area: healthcare;
      overflow: hidden;
    }
    &-solution{
      grid-area: solution;
      overflow: hidden;
    }
    img{filter: grayscale(100%);height: 100%; object-fit: cover;width: 100%;@include transition(all 0.3s linear);}
    .box{position: absolute;top: 50%;right: 0;bottom: auto;left: 0;background-color: rgba($color: $primary-color, $alpha: 0.7);text-align: center;color: $secondary-color;padding: 0.5rem 0;transform: translateY(200%);transition:all 0.3s linear 0.4s;opacity: 0;font-weight: 700;}
    &:hover, &:focus, &:active{
      img{filter: grayscale(0);}
      .box{transform: translateY(-50%);opacity: 1;transition-delay: 0s;}
    }
  }
}


.blog-list{
  .blog-image{position: relative;text-align:center;display: inline-block;
    &::after{content: ""; border: 3px solid $primary-color; height: 100%; display: block; bottom: 0; position: absolute; background: transparent; left: 0; z-index: -1; right: 0; transform: translate(-20px, 20px);
      @media screen and (max-width:767px) {
        content: none;
      }
    }
  }
  .row:nth-child(odd){
    .blog-title{position: relative; left: -100px; right: auto; 
      @media screen and (max-width:767px) {
        left:0;
      }
    }
  }
  .row:nth-child(even){
    .blog-title{position: relative; right: -100px; left: auto; 
      @media screen and (max-width:767px) {
        right:0;
      }
    }
  }
}

.title-strike{position: relative;
  &::after{
    content: '';position: absolute;width: 100%;height: 15px;background-color: lighten($color: $primary-color, $amount: 90%);left: 0;bottom: 0;z-index: -1;transform: scaleX(1);
    transform-origin: left;transition: all 0.5s linear .3s;
  }
}

.accordion{
  a{position: relative;
    .accordion-icon{position: absolute;right:0;top:50%;transform: translateY(-50%);
      i{transform: rotate(45deg);transition: all 0.6s ease;}
    }
    &.collapsed{
      i{transform: rotate(0deg);}
    }
  }
}

.slides-item{background-color: $secondary-color; color: $primary-color; transition: all 0.3s linear;position: relative;
  &.active{background-color: $accent-color !important; color: $secondary-color;
    &::after{content: '';width: 1px; height: 100%;background-color: $accent-color;position: absolute;top: 100%;}
  }
}

.app-dev-category{
  .img-absolute-50{max-width: 20%;bottom: 0;right: 5%;}
}

.blog-details{
  p{line-height: 2;margin-bottom: 1.8rem;}
  a{font-weight: 700;text-decoration: underline;}
  ul{
    li{line-height: 2;color: lighten($color: $black-color, $amount: 40%);}
  }
  dl{
    dt, dd{line-height: 2;}
    dd{color: lighten($color: $black-color, $amount: 40%);}
  }
}

.ai-features-wrap{
  @media (max-width:991px){
    padding: 2rem 0;
  }
  .icon{filter: invert(100%);}
  .row:nth-child(odd){
    .icon{margin-left: -3.6rem;}
  }
  .row:nth-child(even){
    .icon{margin-right: -3.6rem;}
  }
  .img-wrap{overflow: hidden;position: relative;
    &::before{content:'';padding-top: 65%;display: block;}
    img{position: absolute;top: 0;left: 0; transition: all 0.4s cubic-bezier(0.55, 0.09, 0.68, 0.53);transform: translate(0, 0);filter: grayscale(100%);height: 100%;width: 100%;object-fit: cover;}
    &:hover{
      img{transform: scale(1.1);filter: grayscale(0);}
    }
  }
}