@mixin ellipsis{ 
	display: block;
	display: -webkit-box;
    height: 75px;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

@mixin transform($args){
	-webkit-transform: $args;
	-ms-transform: $args;
	transform: $args;
}

@mixin transition($args){
	-webkit-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin box-shadow($args){
	-webkit-box-shadow: $args;
	-ms-box-shadow: $args;
	box-shadow: $args;
}

@mixin box-shadow-two($arg, $args){
	-webkit-box-shadow: $arg, $args;
	-ms-box-shadow: $arg, $args;
	box-shadow: $arg, $args;
}

@mixin placeholder($color){
	&::-webkit-input-placeholder {color: $color; opacity: 1;}
	&::-moz-placeholder {color: $color; opacity: 1;}
	&:-ms-input-placeholder {color: $color; opacity: 1;}
	&:-moz-placeholder {color: $color; opacity: 1;}	
}

@mixin appearance-none{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none; 
	-o-appearance: none; 
	appearance: none;
	&::-ms-expand{display: none;}
}

@mixin transform-origin($origin){
	-webkit-transform-origin: $origin;
	-ms-transform-origin: $origin; 
	transform-origin: $origin;
}

@mixin user-select($args){
	-webkit-user-select: $args;
	-moz-user-select: $args;
	-ms-user-select: $args;
	user-select: $args;
}


@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}