
.header, .headerOnTravel {

    /* &.shadow{
        .rxt-navigation-wrap{
            .rxt-navigation{
                .btn{border: 1px solid $primary-color;}
            }
        }
    } */
    &.nav-up { @include transform(translateY(-100%)); }
    &.nav-down { @include transform(translateY(0));background-color: $secondary-color;}
    /* rxt main navigation */
    .toggle-input { visibility: hidden; opacity: 0; position: absolute; width: 0; height: 0; margin: 0; }
    @media screen and (min-width:992px) {
        [class*="mobOnly-"] { display: none; }
        .top-nav { display: inline-flex; align-items: center; margin-bottom: 10px;
            > li { position: relative;
                &:after { content: "/"; color: rgba(#fff, 0.4); position: absolute; top: 50%; right: 0; @include transform(translate(50%, -50%)); }
                > a { color: #fff; padding: 2px 10px;
                    > i { color: $primary-color; margin-right: 4px; }
                    &.link-highlighted { color: $primary-color; }
                    &:hover { color: $primary-color; }
                }
                &:last-child:after { display: none; }
            }
        }
        .rxt-navigation { position: relative; z-index: 9999; display: inline-flex; align-items: center; list-style-type: none; margin: 0; padding: 0;
            > li { flex: 1 1 auto; text-align: center; padding: 20px 50px 20px 0;
                &:last-child{ padding-right: 0;}
                > a:not(.btn) { display: block; font-size: 14px; color: $black-color; text-transform: capitalize; position: relative; opacity: 1; font-weight: 500;
                    &::after{content: "";width: 20px;height: 20px;position: absolute;left:-5px;@include transform(translateY(-50%));top:50%;border-radius: 50%;z-index: -1;visibility: hidden; opacity: 0;background-color: rgba($accent-color, 1);@include transition(all 0.3s linear);}
                    &:hover{text-decoration: none;}
                    &.link-highlighted { color: $primary-color; }
                    &.t-btn-primary-outline { font-size: 14px; color: $primary-color; padding: 5px 22px; border: 1px $primary-color solid; border-radius: 25px; margin-left: 10px;
                        &:hover { color: #fff; background: $primary-color; }
                    }
                    &.t-btn-secondary { font-size: 14px; color: #fff; padding: 5px 22px; background: $primary-color; border: 1px $primary-color solid; border-radius: 25px; margin-left: 10px;
                        &:hover { color: $primary-color; background: transparent; }
                    }
                }
                .btn-nav { background: $primary-color; padding: 12px; border-radius: 15px 0; }
                &.active { > a { position: relative;  color: $black-color;
                    &::after{content: "";width: 20px;height: 20px;position: absolute;left:-10px;@include transform(translateY(-50%));top:50%;border-radius: 50%;z-index: -1;@include transition(all 0.3s ease);}
                 }
                    .btn-nav { border-radius: 0 15px; }
                }
                li { text-align: left;
                    a { font-size: 14px; color: $black-color; display: block; padding: 12px 15px !important;}
                    
                    ul { top: 0; left: 100%; margin: 0 0 0 20px; }
                    &.has-sub > a:before, ul + a:before { content: "\f105"; left: 100%; top: 50%; right: auto; margin: 0 0 0 -15px; @include transform(translateY(-50%)); }
                    &:hover { background: darken($color:$primary-color, $amount:5%); }
                }
                &:last-child { margin-right: 0; }
            }
            ul { visibility: hidden; opacity: 0; list-style-type: none; margin: 0; padding: 0; position: absolute; left: 0; top: 100%; width: 220px; margin-top: 20px; background-color: $primary-color; @include transition(ease all 0.3s); @include transform(scale(0.8)); }
            li { position: relative;
                /* &.has-sub > a:before, ul + a:before { font-size: 12px; position: absolute; bottom: 5px; left: 0; right: 0; content: "\f0d7"; color: darken($color:$primary-color, $amount:15%); @include fontawesome; } */
                &:hover { > ul { visibility: visible; opacity: 1; margin: 0; @include transform(scale(1)); }
                }
            }
            .btn-curve { background: #dc3626; border-radius: 15px 0 15px 0;
                &:hover { color: #fff; background: #387fce; }
            }
        }
    }
    @media screen and (max-width:1199px) {
        .rxt-navigation > li > a { font-size: 14px; }
    }
    @media screen and (max-width:991px) {
        .logo {margin: 5px 0 !important;}
        [class*="deskOnly-"] { display: none; }
        & { position: relative; }
        &:not(.headerOnTravel) { border-bottom: 2px solid rgba($color: $secondary-color, $alpha: 0.1);}
        .logo amp-img { width: 140px; }
        .rxt-nav-trigger { display: block; width: 30px; cursor: pointer;
            > span { display: block; height: 2px; border-radius: 2px; background: $primary-color; margin-bottom: 5px; @include transition(ease all 0.3s);
                &:first-child { width: 20px; }
                &:last-child { margin-left: auto; width:20px;}
            }
            &:hover { animation-name: rubberBand; animation-duration: 1s; animation-fill-mode: both;
                > span { background: $primary-color; }
            }
        }
        .rxt-navigation-wrap { padding: 34px 0 20px; display: block; position: fixed; z-index: 999999; left: 0; top: 0; bottom: 0; width: 280px; height: 100%; overflow: auto; background: #1a1a1a; box-sizing: border-box; @include transition(ease all 0.3s);
            .container { padding: 0; }
        }
        .mobOnly-menu-close-link { display: block; position: absolute; right: 0; top: 0; font-size: 22px; color: #efefef; padding: 2px 12px; opacity: 0.6; cursor: pointer; @include transition(ease all 0.3s);
            &:hover, &:focus { opacity: 1; @include transform(scale(1.2)); }
        }
        .top-nav { text-align: left; margin-bottom: 0;
            > li { border-width: 0 0 1px; border-style: solid; border-color: rgba(#fff, 0.1);
                > a { display: block; font-size: 14px; color: #fff; padding: 10px 15px;
                    &.link-highlighted { color: $primary-color; }
                    > i { margin-right: 6px; }
                }
            }
            .labelCount { font-size: 12px; background: #387fce; height: 17px; width: 17px; border-radius: 50%; color: #fff; text-align: center; line-height: 17px; display: inline-block; }
        }
        .rxt-navigation { list-style-type: none; margin: 0; padding: 0;flex-grow:1;flex-basis: 100%;
            li { position: relative; border-width: 0 0 1px; border-style: solid; border-color: rgba(#fff, 0.1);
                &:first-child { border-top-width: 1px; }
                a { display: block; font-size: 14px; padding: 10px 15px;
                    &.link-highlighted { color: $primary-color; }
                }
                a:not(.btn){ color: $white-color;}
                &.active > a { background: $primary-color; }
                &.has-sub { display: flex; flex-flow: row-reverse; flex-wrap: wrap;
                    &:before { content: "\f067";font-family: "Font Awesome 5 Free";font-weight: 900; color: #e2e2e2; flex: 40px 0; text-align: center;  display: flex; align-items: center; justify-content: center; }
                    & > a { flex: 1 1 auto; border-right: 1px solid rgba(#fff, 0.1); }
                    & > ul { flex: 100% 0; @include transition(height 0.01s); }
                    ul { visibility: hidden; opacity: 0; height: 0; overflow: hidden; list-style-type: none; margin: 0; padding: 0;
                        li { a { padding-left: 20px; }
                            ul a { padding-left: 25px; }
                            &:last-child { border-bottom: 0; }
                        }
                    }
                    &:hover { background: lighten($color:#1a1a1a, $amount:10%);
                        &:before { content: "\f068"; color: #fff; }
                        & > ul { visibility: visible; opacity: 1; height: 100%; }
                    }
                }
            }
        }
        .rxt-nav-overlay { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9998; background: rgba(0, 0, 0, 0.5); }
        .rxt-navigation-wrap { @include transform(translateX(-100%));
            &.menu-open { @include transform(translateX(0));
                + .rxt-nav-overlay { display: block; }
            }
        }
        [class*="col-"] { position: static; }
    }
    @media screen and (max-width:575px) {
        .mobOnly-rxt-quick-nav-wrap .rxt-quick-nav { table-layout: auto; font-size: 12px; }
        .logo img{max-width: 220px !important;}
    }
}
/* / rxt main navigation */
.header { position: fixed; z-index: 999; top: 0; right: 0; left: 0; @include transition(ease all 0.3s);
    .logo { display: block; margin: 10px 0; position: relative;
        img { height: 55px; @include transition(ease all 0.3s); }
    }
    // Add active dot
    .rxt-navigation > li { %activeState { &:after { visibility: visible; opacity: 1;background-color: rgba($accent-color, 1);}
        &:before { visibility: visible; opacity: 1;}
        }
        
        &.active > a:not([class*="t-btn"]) { @extend %activeState; }
        > [class*="t-btn"] { @include transition(ease all .3s);
            &:hover { @include box-shadow(0 0 5px 5px rgba($accent-color, .2)); }
        }
    }
    
    ul.list-quick-links { list-style-type: none; display: flex; align-items: center; padding: 0; margin: 0;
        > li { margin-right: 8px;
            &:not(.btn-quick-links) { a { padding: 5px 10px; }
            }
            &:last-child { margin-right: 0; }
        }
    }
    &.bg-white{
        .rxt-nav-trigger > span{background-color: $primary-color;}
    }
}
.headerOnTravel { ul.list-quick-links { list-style-type: none; padding: 0 14px; margin: -30px 0 8px;
        > li { margin-bottom: 5px; }
        a { color: $white-color;
            &.link-secondary { display: block; padding: 4px 0; }
        }
        [class*="btn-outline-"] { border-color: $white-color; }
        .btn-quick-links { display: inline-block; vertical-align: middle; }
    }
}
