.swiper-container{cursor: none;}
.swiper-container-vertical{
    .swiper-pagination-bullets{
        .swiper-pagination-bullet-active{
            height: 30px;border-radius: 6px;background-color: $primary-color;
        }
    }
}

.recent-projects{
    .swiper-wrapper{max-height: 800px;}
}

.testimonial-slider{
    .swiper-button-next, .swiper-button-prev{
        position: absolute;
        width: 3rem;
        height: 2.3rem;
        background-color: $secondary-color;
    }
    .swiper-button-next{
        top: 80%;
        left: 33%;
        &::after{content: '\f061'; font-family: "Font Awesome 5 Free"; font-weight: 900; font-size: 1.2rem; color: $primary-color;position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
    }
    .swiper-button-prev{
        top: 80%;
        left: 28%;
        &::after{content: '\f060'; font-family: "Font Awesome 5 Free"; font-weight: 900; font-size: 1.2rem; color: $primary-color;position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
    }
}